<h1>Add A Flight</h1>

<%= if admin? render 'form' %>

<h1>Current Flights for Sale</h1>

<ul id="flights">
  <%= render @flights %>
</ul>

<br>
<%= link_to 'Add a Flight', new_flight_path(@flight) %>
